#sidebar-toggle::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background: currentColor;
  -webkit-mask: var(--theme-toggle);
  mask: var(--theme-toggle);
}

#sidebar-toggle {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  --monospace: Menlo, Consolas, monospace;
  --monospace-font: 14px/1.5 var(--monospace);
  --serif: "Source Serif Pro", "Iowan Old Style", "Apple Garamond",
    "Palatino Linotype", "Times New Roman", "Droid Serif", Times, serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --sans-serif: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial,
    sans-serif;
  --theme-blue: #4269d0;
  --theme-green: #3ca951;
  --theme-red: #ff725c;
  --theme-yellow: #efb118;
  --font-big: 700 32px/1 var(--sans-serif);
  --font-small: 14px var(--sans-serif);
  --theme-caret: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M5 7L8.125 9.5L11.25 7' stroke='black' stroke-width='1.5' stroke-linecap='round' fill='none'/%3E%3C/svg%3E");
  --theme-toggle: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='m10.5,11 2.5-3-2.5-3 M6,8h7' fill='none' stroke='black' stroke-width='2'/%3E%3Crect x='2' y='2' fill='currentColor' height='12' rx='0.5' width='2'/%3E%3C/svg%3E");
  --theme-magnifier: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath stroke='currentColor' stroke-width='2' fill='none' d='M15,15L10.5,10.5a3,3 0 1,0 -6 -6a3,3 0 1,0 6 6'%3E%3C/path%3E%3C/svg%3E");
  --syntax-keyword: #ff7b72;
  --syntax-entity: #d2a8ff;
  --syntax-constant: #79c0ff;
  --syntax-string: #a5d6ff;
  --syntax-variable: #ffa657;
  --syntax-comment: var(--theme-foreground-muted);
  --syntax-entity-tag: #7ee787;
  --syntax-storage-modifier-import: #c9d1d9;
  --syntax-markup-heading: #1f6feb;
  --syntax-markup-list: #f2cc60;
  --syntax-markup-italic: #c9d1d9;
  --syntax-markup-bold: #c9d1d9;
  --syntax-markup-inserted: #aff5b4;
  --syntax-markup-inserted-background: #033a16;
  --syntax-markup-deleted: #ffdcd7;
  --syntax-markup-deleted-background: #67060c;
  --theme-background-a: color-mix(
    in srgb,
    var(--theme-foreground) 4%,
    var(--theme-background-b)
  );
  --theme-background: var(--theme-background-a);
  --theme-background-alt: var(--theme-background-b);
  --theme-foreground-alt: color-mix(
    in srgb,
    var(--theme-foreground) 90%,
    var(--theme-background-b)
  );
  --theme-foreground-muted: color-mix(
    in srgb,
    var(--theme-foreground) 60%,
    var(--theme-background-b)
  );
  --theme-foreground-faint: color-mix(
    in srgb,
    var(--theme-foreground) 50%,
    var(--theme-background-b)
  );
  --theme-foreground-fainter: color-mix(
    in srgb,
    var(--theme-foreground) 30%,
    var(--theme-background-b)
  );
  --theme-foreground-faintest: color-mix(
    in srgb,
    var(--theme-foreground) 14%,
    var(--theme-background-b)
  );
  color-scheme: dark;
  --theme-foreground: #dfdfd6;
  --theme-foreground-focus: oklch(0.712564 0.257662 265.758);
  --theme-background-b: #161616;
  vertical-align: middle;
  accent-color: var(--theme-blue);
  position: fixed;
  appearance: none;
  background: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: e-resize;
  margin: 0;
  color: var(--theme-foreground-muted);
  z-index: 1;
}

#sidebar-background {
  -webkit-text-size-adjust: 100%;
  --safe-area-inset-top: env(safe-area-inset-top, 0px);
  --safe-area-inset-right: env(safe-area-inset-right, 0px);
  --safe-area-inset-left: env(safe-area-inset-left, 0px);
  --safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);
  --rc-drag-handle-size: 12px;
  --rc-drag-handle-mobile-size: 24px;
  --rc-drag-handle-bg-colour: #0003;
  --rc-drag-bar-size: 6px;
  --rc-border-color: #fff0;
  --rc-focus-color: #08f;
  --drag-handle-offset: -6px;
  --drag-handle-short-side: 6px;
  --drag-handle-long-side: 48px;
  --drag-handle-corner: 20px;
  --drag-handle-border: 20px;
  --drag-handle-color: #0009;
  --drag-handle-opacity: 0.8;
  --corner-handle-svg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none'%3E%3Cpath fill='%23000' stroke='%23fff' d='M15 .5A2.5 2.5 0 0 0 12.5 3v9.5H3a2.5 2.5 0 0 0 0 5h12a2.5 2.5 0 0 0 2.5-2.5V3A2.5 2.5 0 0 0 15 .5z'/%3E%3C/svg%3E");
  --cardinal-handle-visibility: visible;
  --full-viewport-height: 403px;
  --crop-mask-color: white;
  --crop-mask-opacity: 0.5;
  fill: currentcolor;
  line-height: 1.5;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji",
    Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: auto;
  cursor: default;
  color: rgb(95, 94, 91);
  font-weight: 500;
  pointer-events: auto;
  visibility: visible;
  outline: 0;
  box-sizing: border-box;
  display: block;
  position: absolute;
  inset: 0px;

  z-index: -1;
  background: #12375A;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}
#sidebar-content {
    -webkit-text-size-adjust: 100%;
    --safe-area-inset-top: env(safe-area-inset-top,0px);
    --safe-area-inset-right: env(safe-area-inset-right,0px);
    --safe-area-inset-left: env(safe-area-inset-left,0px);
    --safe-area-inset-bottom: env(safe-area-inset-bottom,0px);
    --rc-drag-handle-size: 12px;
    --rc-drag-handle-mobile-size: 24px;
    --rc-drag-handle-bg-colour: #0003;
    --rc-drag-bar-size: 6px;
    --rc-border-color: #fff0;
    --rc-focus-color: #08f;
    --drag-handle-offset: -6px;
    --drag-handle-short-side: 6px;
    --drag-handle-long-side: 48px;
    --drag-handle-corner: 20px;
    --drag-handle-border: 20px;
    --drag-handle-color: #0009;
    --drag-handle-opacity: 0.8;
    --corner-handle-svg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none'%3E%3Cpath fill='%23000' stroke='%23fff' d='M15 .5A2.5 2.5 0 0 0 12.5 3v9.5H3a2.5 2.5 0 0 0 0 5h12a2.5 2.5 0 0 0 2.5-2.5V3A2.5 2.5 0 0 0 15 .5z'/%3E%3C/svg%3E");
    --cardinal-handle-visibility: visible;
    --full-viewport-height: 403px;
    --crop-mask-color: white;
    --crop-mask-opacity: 0.5;
    fill: currentcolor;
    line-height: 1.5;
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: auto;
    cursor: default;
    color: white;
    font-weight: 500;
    pointer-events: auto;
    visibility: visible;
    outline: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: calc(-118px + 100vh);
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}